*{
    margin: 0;
    padding: 0;
}
body{
    color: aliceblue;
    background-color: #181818;
    background-image: url('../img/ia-oscorp.jpg');
    background-position: left;
    background-position-y:1px ;
    background-repeat: no-repeat;
    background-size:500px;
    height: 100vh;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
header .container-header{
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 40px 10%;
    background-color: #18181838;
    height: 50px;
}
header .container-header nav,a{
    width: 50%;
    color: aliceblue;
    text-decoration: none;

}
/* content */
.content{
    margin-top: 90px;
    height: 500px;
    overflow-y: scroll;
    overflow: hidden;
}

.content .themed-grid-col{
    background-color: rgba(255, 255, 255, 0);
}
.content .row {
    align-items: center;
    justify-content: center;
    height: auto;
    margin: auto;
    
}
.box-image .atom {
    max-width: 50%;
    filter: invert(100%);
}
.box-image .oscorp {
    max-width: 50%;
    filter: invert(100%);
}
.atom {
    animation: atom 15s linear infinite;
    /* 5 segundos para uma rotação completa, ajuste conforme necessário */
}

/* Definindo a animação spin */
@keyframes atom {
    from {
        transform: rotate(0deg);
        /* Início da rotação */
    }

    to {
        transform: rotate(360deg);
        /* Completa uma volta */
    }
}

.text-sequence::before {
    content: "Texto 1";
    animation: changeText 15s infinite;
    cursor: pointer;

}

@keyframes changeText {
    0% {
        content: "Oscorp: Innovation that Transforms the Future";
    }

    33% {
        content: "Quality and Technology with the Oscorp Mark";
    }

    66% {
        content: "Oscorp: Where Excellence Meets Progress"
    }

    100% {
        content: "Driving Industry, Creating Possibilities – Oscorp";
    }
}